version: 2.1

jobs:
  build:
    docker:
      - image: cimg/openjdk:20.0
        environment:
          MAVEN_OPTS: -Xmx3200m
      - image: cimg/mysql:8.0
        environment:
          MYSQL_ROOT_PASSWORD: default
          MYSQL_DATABASE: default
          MYSQL_USER: default
          MYSQL_PASSWORD: default

    working_directory: ~/repo

    environment:
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout
      - run:
          name: Wait for Database Connection
          command: dockerize -wait tcp://localhost:3306 -timeout 1m
      - restore_cache:
          keys:
            -  v1-dependencies-{{ checksum "pom.xml" }}
            -  v1-dependencies-
      - run: mvn dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
      - run: mvn package liquibase:update